.row {
    max-width: 100%;
}
body {
    font-family: 'Slabo 27px', serif;
}
h1 {
    margin-left: -9%;
    text-align: center;
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
    padding: 5% 5% 0 5%;
}
h3 {
    margin-left: -9%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    padding: 5% 5% 5% 5%;
}
h6 {
    color: #D36135;
    font-size: 30px;
    text-align: center;
    font-weight: 350;
    padding: 5% 5% 0 5%;
}

/*
===================
    landing
==================
*/

#landing {
    background-image: url(../assets/Top_view.jpg);
}
.land {
    background-color: rgba(141, 68, 41, 0.15);
}
#landing h3 {
    padding-top: 0;
    padding-bottom: 0;
}
.kamo {
    margin: 20% 30% 10% 30%;
}
.menu {
    width: 100%;
    background-color: #D36135;
    font-size: 30px;
    opacity: 0.6;
    float: right;
}
.menu li a {
    color: #fff;
}
.menu a:hover {
    color: #282B28;
}

/*
==================
    portfolio
=================
*/


/*
====================
    team
====================
*/

#team {
    background-color: #D36135;
}
figure.snip1205 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1205 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
figure.snip1205 img {
    max-width: 100%;
    vertical-align: top;
}
figure.snip1205 i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    /*    font-size: 34px;*/
    color: #282B28;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
figure.snip1205 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
*/ figure.snip1205.orange {
    background-color: #d67118;
}
figure.snip1205.orange p {
    color: #fff;
    font-size: 34px;
}
figure.snip1205.orange i {
    color: #bf6516;
}
figure.snip1205:hover img,
figure.snip1205.hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
figure.snip1205:hover i,
figure.snip1205.hover i,
figure.snip1205:hover p,
figure.snip1205.hover p {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Demo purposes only */


/*
====================
     about
====================
*/

#about {
    background-color: #A24936;
}
#about i {
    padding: 5% 5% 5% 5%;
    /*    margin: 10 20% 10 20%;*/
    float: left;
    color: #fff;
    background-color: #D36135;
    border-radius: 50%;
}
#about p {
    color: #fff;
    font-size: line-height: inherit;
    font-weight: 100;
    text-align: center;
    padding: 5% 5% 5% 0;
}

/*
=====================
    testimonials
=====================
*/

#testimonials {
    background-color: #656565;
}
#testimonials section {
    background-color: #282B28;
    margin: 3% 5% 5% -5%;
    border-radius: 1rem;
}
#testimonials p {
    color: #fff;
    font-size: 25px;
    line-height: inherit;
    font-weight: 200;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

/*
======================
        footer
======================
*/

#footer {
    background-color: #282B28;
    height: 50vh;
}
#footer i {
    color: #656565;
    margin-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
}
#footer p {
    color: #656565;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
}
#footer a:hover i:hover {
    color: #D36135;
}
