body {
    font-family: 'Poiret One', sans-serif;
}
.landing {
    background-image: url(../assets/bglanding.jpg);
}
.menu {
    font-size: 20px;
    font-weight: 400;
}
.menu a {
    color: #666A86;
}
.menu a:hover {
    text-decoration: overline;
    color: #fff;
}
