body {
    font-family: 'Poiret One', sans-serif;
}
.row {
    max-width: 1350px;
}
.landing {
    background-image: url(../assets/Top_view.jpg);
    background-color: #fff;
    opacity: 0.6;
}

/*
==========================
navigation bar
============================
*/

.menu {
    font-size: 20px;
    font-weight: 400;
}
.menu li img {
    /*    padding-right: 30%;*/
}
.menu a {
    color: #EAFFDA;
}

/*
===============================
section main content
==============================
*/

.main_content {
    padding: 20% 20% 20% 20%;
}
.main_content span {
    font-size: 40px;
    color: #EAFFDA;
    font-weight: 800;
    text-align: center;
}
.cd-intro {
    margin: 2em auto;
}
.cd-filter {
    margin: 0 auto;
    text-align: center;
}
.cd-filter li {
    position: relative;
    display: inline-block;
    margin: 0;
}
.cd-filter input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.cd-filter input:checked + label {
    border-color: #e6d925;
    color: rgba(255, 255, 255, 1);
}
.cd-filter label {
    border-color: #e10e49;
    border-style: solid;
    border-width: 0 0 2px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0.4em 0.6em;
}
.cd-filter label:hover {
    border-color: rgba(255, 255, 255, 0.7);
}
.cd-headline {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}

/* --------------------------------

xscale

-------------------------------- */

.cd-headline.scale i {
    display: inline-block;
    opacity: 0;
    transform: scale(0);
}
.is-visible .cd-headline.scale i {
    opacity: 1;
}
.cd-headline.scale i.in {
    animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
    animation: scale-down 0.6s forwards;
}
.no-csstransitions .cd-headline.scale i {
    transform: scale(1);
    opacity: 0;
}
.no-csstransitions .cd-headline.scale .is-visible i {
    opacity: 1;
}
@keyframes scale-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-down {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(0);
        opacity: 0;
    }
}

/*
==============================
 about us
=============================
*/

#about {
    background: #EAFFDA;
}
#about h4 {
    color: #252323;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 5%;
}
#about p {
    color: #252323;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    padding: 5% 5% 5% 5%;
}

/*
===============================
portfolio
================================
*/

#portfolio {
    background-image: url(../assets/photo-1444116931890-dcede16aa2c3.jpeg);
    background: #FF6B6B;
    opacity: 0.6;
}
#portfolio h3 {
    font-size: 40px;
    font-weight: 600;
    color: #252323;
}
.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}
.grid figure {
    margin: 0;
    position: relative;
}
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
}
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
.grid figcaption span:before {
    content: 'by ';
}
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}
.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}
.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 1;
    transform: translate(15px, 15px);
}
.cs-style-1 figcaption h3 {
    margin-top: 70px;
}
.cs-style-1 figcaption span {
    display: block;
}
.cs-style-1 figcaption a {
    margin-top: 30px;
}

/*
========================================
   members
========================================
*/

#members {
    background: #252323;
}
#members h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.grid- {
    margin: 40px auto 120px;
    max-width: 1000px;
    width: 90%;
}
.grid- a {
    float: left;
    max-width: 250px;
    width: 25%;
    color: #333;
}
.grid- a:nth-child(odd) {
    margin: 30px 0 -30px 0;
}
.grid- figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333;
}
.grid- figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.grid- figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.grid- figcaption h2 {
    margin: 0 0 20px 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    transition: transform 0.3s;
}
.grid- figcaption p {
    padding: 0 20px;
    color: #252323;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s;
}
.grid- figcaption h2,
.grid- figcaption p {
    transform: translateY(50px);
}
.grid- figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: opacity 0.3s, transform 0.3s;
}
.grid- figcaption,
.grid- figcaption h2,
.grid- figcaption p,
.grid- figure button {
    backface-visibility: hidden;
}
.grid- svg {
    position: absolute;
    top: -1px;
    /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
}
.grid- svg path {
    fill: #fff;
}
.grid- a:hover figure img {
    opacity: 1;
}
.grid- a:hover figcaption h2,
.grid- a:hover figcaption p {
    transform: translateY(0);
}
.grid- a:hover figcaption p {
    opacity: 0;
}
.demo-2 body {
    background: #e74c3c;
}
.demo-2 .grid- figcaption h2 {
    color: #e74c3c;
}
.demo-2 .grid- figcaption p {
    transition-delay: 0.05s;
}
.demo-2 .grid- figure button {
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    color: #333;
    font-weight: 300;
    transform: translateY(100%);
}
.demo-2 .grid- a:hover figure button {
    transition-timing-function: ease-out;
    transform: translateY(0);
}
.demo-2 .grid- figcaption h2,
.demo-2 .grid- figcaption p,
.demo-3 .grid- figcaption h2,
.demo-3 .grid- figcaption p {
    timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}
.demo-2 .grid- a:hover figcaption p,
.demo-3 .grid- a:hover figcaption p {
    transition-delay: 0s;
    transition-duration: 0.1s;
}

/*
==========================================
contacts
==========================================
*/

.input--haruki {
    margin: 4em 1em 1em;
}
.input__field--haruki {
    padding: 0.4em 0.25em;
    width: 100%;
    background: transparent;
    color: #AFB5BB;
    font-size: 1.55em;
}
.input__label--haruki {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
}
.input__label-content--haruki {
    transition: transform 0.3s;
}
.input__label--haruki::before,
.input__label--haruki::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 4px;
    background: #6a7989;
    transition: transform 0.3s;
}
.input__label--haruki::before {
    top: 0;
}
.input__label--haruki::after {
    bottom: 0;
}
.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
    transform: translate3d(0, -90%, 0);
}
.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
    transform: translate3d(0, -0.5em, 0);
}
.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
    transform: translate3d(0, 0.5em, 0);
}
